.fade-in {
    animation: fadeIn 3s forwards
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

img{
    width: 100%; 
    
    
}
h2{display: flex;
    align-items: center;
    justify-content: center;
     }
.container :first-of-type{
    position: relative;
}
.jumbotron{
    
    opacity: 0;
    
  
}
.metal{
    position: absolute; top: 0; left: 0; 
    
    width: 3rem; height: 3rem;
   
    
}
.rock{
    position: absolute; top: 0; left: 0; 
    
    width: 3rem; height: 3rem;
   

}
